<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styling/style.css">
    <link rel="stylesheet" type="text/css" href="/styling/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/styling/dynamic.css"></link>
    <script src="https://kit.fontawesome.com/4ba334754d.js"></script>
    <title>Document</title>
</head>
<body>
        <header>
                <div>
                    <a href="/index.html"><img src="/assets/nyLogo_lang.png" alt="Logo - Designverkstedet"></a>
                </div>
                <div>  
                    <ul>
                        <li><a>Logg inn/Registrer deg</a></li>
                        <li>
                            <a>EN/</a>
                            <a>NO</a>
                        </li>
                    </ul>
                    <nav>
                        <ul>
                            <li><a href="./prosjekter.html">Prosjekter</a></li>
                            <li><a href="./aktiviteter.html">Aktiviteter</a></li>
                            <li>
                                <div class="dropdown">
                                <p>informasjon<i class="fas fa-chevron-down"></i></p>
                                    <ul class="dropdown-content">
                                        <li>
                                            <p>Tilgjengelig utstyr</p>
                                        </li>
                                        <li>
                                            <p>Sertifikasjoner</p>
                                        </li>
                                        <li>
                                            <p>Kurs</p>
                                        </li>
                                        <li>
                                            <p>Samarbeidspartnere</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <form id="loginform">
                    <div>
                        <label for="username">Brukernavn</label>
                        <input type = "text" id="username">
                        <label for="pass">Passord</label>
                        <input type = "text" id="pass">
                    </div>
                    <div>
                        <label for="stayLogged">Forbli pålogget</label>
                        <input type ="checkbox" id="stayLogged">
                    </div>
                    <p><a>Glemt Passord?</a> | <a>Registrer deg</a></p>
                    <button for="loginform">Logg inn</button>
        
                </form>
            </header>
    <section class="mainContProjectPage">
        <h1><%= result[0].title%></h1>
        <dl>
            <dt>Dato</dt>
            <dd> <%= new Date(result[0].dateFrom)%></dd>
            <dt>Tid</dt>
            <dd> <%= result[0].time %></dd>
            <dt>Kategori</dt>
            <dd> <%= result[0].cat %></dd>
            <dt>Kurs/Emne</dt>
            <dd> <%= result[0].course %></dd>
            <dt>Skaper</dt>
            <dd> <%= result[0].author %></dd>
            <dt>Teknologi</dt>
            <dd> <%= result[0].tech %></dd>
        </dl>
        <p><%= result[0].body[0].children[0].text %></p>
        
    <figure>
        <% result[0].url.forEach((image, index, arr) => { %>
        <img src="<%= image%>" alt="<%= result[0].alt[index]%>">
        <% }); %>   
    </figure>
    </section>
    
</body>
</html>